{%  extends "base.html" %}

{% block content %}
    <div class="section">
        <div class = "columns">
            <div class = "column is-one-third">
               <form action = "/upload/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                   {{ form }}
                   <button>
                      Upload
                   </button>
               </form>
            </div>
        </div>
    </div>

    <div class = "section">
       <div class="box">
           {{ features|safe }}
       </div>
    </div>

    <div class="section">
       <div class="box">
           {{  target|safe}}
       </div>
    </div>



{% endblock %}